#################################################
# 🔧 ENV / CONFIG
#################################################
.env
.env.*
*.local

#################################################
# 📦 NODE (API - NestJS)
#################################################
API/node_modules/
API/dist/
API/build/
API/.nestjs/
API/npm-debug.log*
API/yarn-debug.log*
API/yarn-error.log*

#################################################
# 🐍 PYTHON (ETL)
#################################################
ETL_FILES/__pycache__/
ETL_FILES/*.pyc
ETL_FILES/*.pyo
ETL_FILES/*.pyd

ETL_FILES/.venv/
ETL_FILES/venv/
ETL_FILES/env/

ETL_FILES/.pytest_cache/
ETL_FILES/.mypy_cache/
ETL_FILES/.coverage

#################################################
# 📊 LOGS
#################################################
*.log
logs/

#################################################
# 💻 IDEs
#################################################
.vscode/
.idea/

#################################################
# 🖥️ SISTEMA OPERACIONAL
#################################################
.DS_Store
Thumbs.db

#################################################
# 📁 DEPENDÊNCIAS GLOBAIS
#################################################
node_modules/
__pycache__/

#################################################
# 📦 BUILD GENÉRICO
#################################################
dist/
build/

#################################################
# 📂 DADOS (OPCIONAL)
#################################################
ETL_FILES/data_sets/


#################################################
# 📂 DADOS BRUTOS DO ETL (GRANDES ARQUIVOS)
#################################################
ETL_FILES/REANEST/
ETL_FILES/PRF/
ETL_FILES/*.csv